.table-wrapper {
  max-height: 500px;
  overflow: auto;
}

.table-action-area {
  padding: 1rem;

  & .mat-icon {
    margin-right: 0.5rem;
  }
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.2rem;
}

table {
  width: 100%;

  & tr.row-alternate-color {
    background: #fbfbfb;
  }

  & th {
    &:not(:last-child) {
      border-right: 1px dotted lightgray;
    }

    background: #fafafa;
  }
}
