<mat-toolbar class="mat-elevation-z4" color="primary">
  <button (click)="toggleSidenav()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div *ngIf="activeLinkItem$ | async as linkItem">NgxMaterialLibs - {{ linkItem.title }} Showcase</div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="sidenaveOpen" mode="side">
    <mat-nav-list *ngIf="currentUrl$ | async as currentUrl">
      <a *ngFor="let linkItem of links"
         [activated]="currentUrl === linkItem.link"
         [routerLink]="linkItem.link"
         mat-list-item
         routerLinkActive="active-route">
        {{ linkItem.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
