<span *ngIf="dirtyFilters$ | async as dirtyFilters" [formGroup]="form">
  <button [color]="dirtyFilters.includes('valueListFilter') ? 'accent' : 'primary'"
          [valueListItems]="valueListFilterItems"
          formControlName="valueListFilter"
          mat-icon-button
          ngxMatDataFilter="value-list">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button [color]="dirtyFilters.includes('stringFilter') ? 'accent' : 'primary'"
          formControlName="stringFilter"
          mat-icon-button
          ngxMatDataFilter="string">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button [color]="dirtyFilters.includes('numberFilter') ? 'accent' : 'primary'"
          formControlName="numberFilter"
          mat-icon-button
          ngxMatDataFilter="number">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button (click)="resetFilter()" [disabled]="dirtyFilters.length === 0" mat-button>Reset</button>
</span>
