<span [formGroup]="form">
  <button [color]="!!form.value.valueListFilter ? 'accent' : 'primary'"
          [valueListItems]="valueListFilterItems"
          formControlName="valueListFilter"
          mat-icon-button
          ngxMatDataFilter="value-list">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button [color]="!!form.value.stringFilter ? 'accent' : 'primary'"
          formControlName="stringFilter"
          mat-icon-button
          ngxMatDataFilter="string">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button [color]="!!form.value.numberFilter ? 'accent' : 'primary'"
          formControlName="numberFilter"
          mat-icon-button
          ngxMatDataFilter="number">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button [color]="!!form.value.dateFilter ? 'accent' : 'primary'"
          formControlName="dateFilter"
          mat-icon-button
          ngxMatDataFilter="date">
    <mat-icon>filter_list</mat-icon>
  </button>

  <button (click)="resetFilter()" [disabled]="(hasFilters$ | async) === false" mat-button>Reset</button>
</span>
